@import 'tailwindcss';
@import "bootstrap";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/*----MAIN BLOCKS - START----*/


/* Mainest Block */
/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
} */

/* Parents of groups */
.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
/*----MAIN BLOCKS - END----*/


/* =================================== */


/*----GROUPS - START----*/

/* Group */
.groups { 
    width: 100%;
    display: flex;
    justify-content: center;

}

 /* main groups styles */
.main-container .card {
    flex: 1 1 40%; 
    max-width: 45%;
    min-height: 200px;
    max-height: 200px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    padding: 20px 5px 20px 20px;
    padding-bottom: 20px;
    /* overflow: hidden; */
}

/* For opening group */
.main-container .card.expanded {
    flex: 1 1 55%; 
    max-width: 55%;
    min-height: 200px;
    max-height: 300px;
    z-index: 10;
}


/* For scrolling inside the group */
.card .scroll {
    overflow: hidden;
}

/* For scrolling inside the group */
.card.expanded .scroll {
    overflow-x: scroll; 
    overflow-y: auto;
}

/* show Title and kebab menu blocks */
.title-row {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

/* just kebab menu */
.dropdown-menu {
    padding-left: 15px;
    padding-right: 15px;
}
/*----GROUPS - END----*/


/* =================================== */


/*----ITEMS - START----*/
/* just item style */
.item-copy .item {
    flex: 1;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-bottom: 6px;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: none;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    transition: background 0.2s ease;
    align-items: center; 
}

/* Inside it is data of item */
.card.expanded .item {
    pointer-events: auto; 
}

/* It is combine item + copy function */
.item-copy {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Showing tag inside the item */
.tag {
    margin: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #a19999;
}

/* Block for copy link */
.item-copy .copy {
    width: 50px; 
    height: 50px;
    flex: 0 0 auto;
    margin-bottom: 6px;
    margin-right: 15px;
    border-radius: 9px;
    border: 1px solid #dcdcdc;
}

/* animation for changing color of item */
.card .item:hover { 
    background: #ced4da;
}
/*----ITEMS - END----*/


/* =================================== */

/* Для телефонів */
@media (max-width: 768px) {
    .main-container .card {
        min-width: 100%;
        max-width: 100%; 
        min-height: 150px; 
        max-height: 180px; 
    }

   
    /* For opening group */
    .main-container .card.expanded {
        flex: 1 1 100%; 
        min-width: 100%;
        max-width: 100%;
        min-height: 200px;
        max-height: 300px;
        z-index: 10;
    }

    /* щоб скрол був тільки вертикальний */
    .card.expanded .scroll {
        overflow-x: hidden; 
        overflow-y: auto;
        max-height: 300px; /* контрольована висота для скролу */
    }
}





.created-div {
    position: fixed;  
    width: 80%;
    top: 50%;                
    left: 50%;              
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #333;
    padding: 20px;
    z-index: 9999;            /* поверх всього */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}







.online-groups {
    display: flex;
    flex-direction: column;
    align-items: center; /* центрує кнопку по горизонталі */
    gap: 20px; /* відступ між списком і кнопкою */
    padding-bottom: 20px; /* трохи місця знизу */
}

.load-more-groups {
    margin-top: 20px;
}  





.profile-stats {
    border: 2px solid #000;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin-bottom: 15px;
}
.profile-stats div {
    text-align: center;
}
.profile-stats h5 {
    margin: 0;
    font-weight: 600;
}
.profile-stats p {
    margin: 0;
    color: #6c757d;
    text-transform: lowercase;
}
.follow-btn {
    background-color: #000;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 0;
}

.following-btn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    width: 100%;
    border-radius: 10px;
    border: 2px black solid;
    font-weight: 600;
    padding: 10px 0;
}
.profile-name {
    display: flex;
    justify-content: space-around;
}

/* .follow-btn:hover {
    background-color: #333;
} */





.section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* або твій варіант */
    gap: 10px;
    /* padding: 50px 50px 25px 50px; */
    /* max-width: 1800px; ← тут обмежуємо */
    max-width: 800px;
    margin: 0 auto;    /* ← центр */
}

.section div {
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
}

img {
    border-radius: 27px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---- MAIN BLOCK ---- */
.main-block {
    /* border: #000 2px solid; */
    /* background-color: black; */
    grid-row: span 2;
    aspect-ratio: 1 / 1;
    width: 100%;
    cursor: pointer;
    grid-column: 1 / span 1; /* 50% ширини */
}

/* ---- BLOG ---- */
.blog {
    grid-column: span 2;
    cursor: pointer;
    /* background-color: gray; */
    aspect-ratio: 2 / 1; /* приблизно як 650×315 ідеально пропорційно */
}

/* ---- SMALL BLOCKS ---- */
.about,
.contact {
    cursor: pointer;
    color: white;
    aspect-ratio: 1 / 1;
}

.blockContact {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

.about {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    background-color: #B385FD;
}

.about .block-title {
    text-align: start;
    padding-left: 20px;
    padding-top: 18px;
    font-weight: 500;
    /* font-size: 13px; */
    grid-row: span 2;
    grid-column: 1 / span 1;
}

.about .text-btn-block {
    /* font-size: 35px; */
    font-weight: 400;
    margin-left: 30px;
    text-align: start;
    align-self: self-end;
    grid-column: 1 / span 2;
}

.contact {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: black;
    background-color: #B2EF40;
}

.about .block-title,
.contact .block-title,
.blogBlockThreeBlocksIn .block-title {
    font-size: clamp(10px, 1vw, 13px);
}

.about .text-btn-block,
.contact .text-btn-block,
.blogBlockThreeBlocksIn .text-btn-block {
    font-size: clamp(20px, 2vw, 35px);
}

.contact .block-title {
    text-align: start;
    padding-left: 20px;
    padding-top: 18px;
    font-weight: 600;
    grid-row: span 2;
    grid-column: 1 / span 3;
}

.contact .text-btn-block {
    font-weight: 400;
    margin-left: 30px;
    text-align: start;
    align-self: self-end;
    /* grid-column: 1 / span 2; */
    grid-column: 1 / span 3;
}

@media (min-width: 1800px) {
    .section {
        width: 1800px;
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .section {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    .contact .block-title {
        font-size: 10px;
        grid-row: span 2;
        grid-column: 1 / span 2;
    }
    
    .contact .text-btn-block,
    .blogBlockThreeBlocksIn .text-btn-block {
        font-size: 20px;
        margin-left: 20px;
    }

    .about .block-title {
        font-size: 10px;
        grid-row: span 2;
        grid-column: 1 / span 2;
    }
    
    .about .text-btn-block {
        font-size: 20px;
        margin-left: 20px;
    }

    .main-block,
    .blog,
    .about,
    .contact,
    .blogBlockThreeBlocksIn {
        width: 100%;
    }

    .main-block {
        aspect-ratio: 2/2;
        grid-column: span 2;
    }

    .blog {
        aspect-ratio: 2/1;
        grid-column: span 2;
    }

    .about {
        aspect-ratio: 1/1;
        grid-column: 1 / span 1;
    }
    .contact,
    .blogBlockThreeBlocksIn {
        aspect-ratio: 1/1;
        grid-column: 2 / span 1;
    }

    /*== VIEW OUR BLOG - START ==*/
    

    /*== VIEW OUR BLOG - END ==*/
}


/* ## login/register ## */

.main-btn-log {
    background-color: #303030;
    color: white;
    padding: 7px;
    margin: 3px;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.reg-btn-log {
    background-color: #303030;
    color: white;
    padding: 7px;
    margin: 3px;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.reg-btn-log:hover {
    background-color: #303030;  
    color: white; 
}

.main-btn-log:hover {
    background-color: #303030;  
    color: white; 
}

.aditional1 {
    display: flex;
    justify-content: center;
}

.log-input {
    width: 100%;
}

@media (min-width: 500px) {

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* повна висота сторінки */
    }
    .form-wrapper {
        width: 100%;
        max-width: 500px; /* максимум ширини форми */
    }
}




/*----MAIN BLOCK VIEW OUR BLOG - START----*/


.blogPage {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.blogBlock {
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 800px;
    gap: 10px;
}

.blogBlock h2 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-weight: 600;
}

.blogBlockMain {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    width: 800px;
    max-width: 800px;
    height: 500px;
    /* padding: 10px; */
    gap: 10px;
    /* background-color: rgb(175, 124, 124); */
}

.blogBlockMainLeft, .blogBlockMainRight {
    width: 50%;
    height: 100%;
    border-radius: 25px;
}

/* .blogBlockMainLeft {
    aspect-ratio: 1 / 1;
} */

.blogBlockMainRight {
    background-color: #F7F7F7;
}

.blogBlockThreeBlocks {
    display: flex;
    justify-content: space-around; /* теж можна center */
    width: 800px;
    max-width: 800px;
    gap: 15px;
    height: 250px;
    /* background-color: #63674b; */
}

.blogBlockThreeBlocksIn {
    display: grid;
    /* grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    cursor: pointer;
    aspect-ratio: 1 / 1;
    width: 250px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 25px;
    background-color: #F7F7F7;
}

.blogBlockThreeBlocksIn:first-child {
    cursor: pointer;
    color: white;
    aspect-ratio: 1 / 1;
    background-color: #2A2626;
}

.blogBlockInfoPhoto {
    width: 800px;
    max-width: 800px;
    height: 350px;
    border-radius: 25px;

}

.blogBlockInfoPhotoIn {
    width: 100%;
    height: 100%;
}

.accordion-body {
    font-size: 12px;
    background-color: #F7F7F7;
}

.accordion-button {
    background-color: #F7F7F7;
}

.blogBlockThreeBlocksIn .block-title {
    text-align: start;
    padding-left: 20px;
    padding-top: 18px;
    font-weight: 600;
    grid-column: 1 / span 3;
}

.blogBlockThreeBlocksIn .text-btn-block {
    /* font-size: 35px; */
    font-weight: 400;
    margin-left: 30px;
    text-align: start;
    align-self: self-end;
    grid-column: 1 / span 3;
    grid-row: 3;
}

.small-text-block {
    font-size: 11px;
    font-weight: 300;
    margin-left: 30px;
    text-align: start;
    align-self: flex-start;
    grid-column: 1 / span 2;
    grid-row: 2;
    color: #c6c6c6;
}

@media (max-width: 768px) {
    .blogPage {
        justify-content: start;
    }

    .blogBlock {
        width: 100%;
    }
    
    .blogBlockMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        border-radius: 30px;
        width: 100%;
        max-width: none;
        height: auto;
        gap: 10px;
    }
    
    .small-text-block {
        font-size: 11px;
        font-weight: 300;
        margin-left: 30px;
        text-align: start;
        align-self: flex-start;
        grid-column: 1 / span 2;

    }

    .blogBlockMain .blogBlockMainLeft {
        grid-column: 1 / span 2;
        max-height: 500px;
        max-width: 400px;
        width: 100%;
    }

    .blogBlockMain .blogBlockMainRight {
        grid-column: 1 / span 2;
        width: 100%;
    }
    
    .blogBlockThreeBlocksIn .block-title {
        font-size: 10px;
        grid-row: span 1;
        grid-column: 1 / span 2;
    }

    .blogBlockThreeBlocks {
        display: flex;
        gap: 15px;
        height: 300px;
        width: 100%;
        max-width: 800px;
        overflow-x: auto;       /* горизонтальний скрол при переповненні */
        scroll-behavior: smooth; /* плавний скрол */
        padding-bottom: 10px;    /* для візуальної відстані скролу */
        flex-shrink: 1;
    }
    
    .blogBlockThreeBlocksIn {
        flex: 0 0 250px;        /* фіксована ширина, не стискається */
        max-width: 250px;
        height: 250px; 
        border-radius: 25px;
        background-color: #F7F7F7;
        flex-shrink: 0;
    }
    
    /* Приховати стандартний скролбар на Webkit браузерах (опційно) */
    .blogBlockThreeBlocks::-webkit-scrollbar {
        height: 6px;
    }
    
    .blogBlockThreeBlocks::-webkit-scrollbar-thumb {
        background: #c6c6c6;
        border-radius: 3px;
    }
    
    .blogBlockThreeBlocks::-webkit-scrollbar-track {
        background: transparent;
    }
    

    .blogBlockInfoPhoto {
        width: 100%;
    }
}

/*----MAIN BLOCK VIEW OUR BLOG - FINISH----*/


.blogBlockThreeBlocksIn {
    padding: 10px;
    gap: 10px;
    transition: opacity 0.4s ease;
    cursor: pointer;
    position: relative;
}

.blogBlockThreeBlocksIn.fade-out {
    opacity: 0;
    pointer-events: none;
}

.blogBlockThreeBlocksIn .center-link {
    text-align: center;
    background-color: #7d1313;
    border-radius: 20px;
    grid-column: 1 / span 3;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}
  
.blogBlockThreeBlocksIn .center-link {
    background-color: #2f2f2f;
    color: #ffffff;
    border-radius: 18px;
    grid-column: 1 / span 3;
    width: 100%;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    /* авто-висота кнопок по кількості */
    height: auto;
}

/* Контейнер кнопок — стає колонкою */
.dynamic-links {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

/* 1 кнопка = 100% */
.dynamic-links.single .center-link {
    flex: 1 1 100%;
}

/* 2 кнопки = 50% / 50% */
.dynamic-links.double .center-link {
    flex: 1 1 50%;
}

/* 3 кнопки = 33% / 33% / 33% */
.dynamic-links.triple .center-link {
    flex: 1 1 33%;
}

.photo-tg {
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image: url('../../public/tg-logo.png'); */
    background-image: url('https://cdn.brandfetch.io/id68S6e-Gp/w/400/h/400/theme/dark/icon.jpeg?c=1bxid64Mup7aczewSAYMX&t=1751901140899');
}

.gmail-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../public/gmail-logo.png');
}

.frame {
    height: 500px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../public/fr4.png');
}





/*----MAIN BLOCK ABOUT US - START----*/

.aboutUsPage {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.aboutUsblockMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutUsblock {
    max-width: 800px;
    height: auto;
    background-color: #F7F7F7;
    padding: 20px 35px 20px 30px;
    border-radius: 25px;
}

.aboutUsblock p {
    padding-left: 15px;
}

.aboutUsblockMain h2 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

/*----MAIN BLOCK ABOUT US - END----*/


/* Центруємо та обмежуємо ширину */
.nexora-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.nexora-container h2{
    margin: 0;
    padding: 0;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-weight: 600;
}



/* Вертикальний текст */
.vertical-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Кружечки Mission */

.blockMission {
    display: flex;
    flex-direction: column;
}

.blockMission p {
    max-width: 160px;
    margin-left: 35px;
}

.mission-number {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
    background: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto 10px auto; */
}

/* Feature blocks */
.feature-block {
    min-height: 350px;
}

.blockWhatWaAreBuilding {
    max-width: 800px;
    margin-top: 20px;
}

.blockWhatWaAreBuildingDiv .blockImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
}

.blockWhatWaAreBuildingDiv h2 {
    padding-top: 20px;
    padding-left: 25px;
}

.blockWhatWaAreBuildingDiv p {
    padding-left: 45px;
    max-width: 700px;
}

.blockWhatWaAreBuildingDiv .blockImg img{
    padding: 0;
    border-radius: 0;
}

.blockWhatWaAreBuildingDiv .blockImg img:first-child{
    border-radius: 0 0 0 17px;
}

.blockWhatWaAreBuildingDiv .blockImg img:last-child{
    border-radius: 0 0 17px 0;
}

.blockHeaderAboutUsDiv {
    border-radius: 20px;
    max-width: 800px;
}

.blockHeaderAboutUsDiv .blockImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blockHeaderAboutUsDiv .blockImg img {
    border-radius: 20px 0 0 20px;
}

.blockHeaderAboutUsDiv .blockImg .text {
    padding: 20px;
    grid-column: span 2;
}

.blockHeaderAboutUsDiv .blockImg .text p{
    padding-left: 15px;
    max-width: 450px;
}

@media (max-width: 768px) {
    .vertical-title {
        writing-mode: horizontal-tb;
        font-size: 28px;
    }

    .blockHeaderAboutUsDiv .blockImg {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .blockHeaderAboutUsDiv .blockImg img {
        grid-column: span 2;
        border-radius: 20px 20px  0 0;
    }
    
    .blockHeaderAboutUsDiv .blockImg .text {
        padding: 20px;
        grid-column: span 2;
    }


    .blockWhatWaAreBuildingDiv .blockImg {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 800px;
        padding: 20px;
        gap: 20px;
    }

    .blockWhatWaAreBuildingDiv .blockImg img:first-child,
    .blockWhatWaAreBuildingDiv .blockImg img:last-child {
        border-radius: 15px;
    }

    .blockWhatWaAreBuildingDiv .blockImg img {
        padding: 0;
        border-radius: 15px;
    }
    
    /* Mission */
    .blockMission {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }
    
    .blockMission p {
        max-width: 240px;
        margin-left: 15px;
    }
    
    .mission-number {
        width: 30px;
        height: 30px;
        font-size: 20px;
        border-radius: 50%;
        background: #222;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto 10px auto; */
    }    

}
