@import 'tailwindcss';
@import "bootstrap";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/*----MAIN BLOCKS - START----*/


/* Mainest Block */
/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
} */

/* Parents of groups */
.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
/*----MAIN BLOCKS - END----*/


/* =================================== */


/*----GROUPS - START----*/

/* Group */
.groups { 
    width: 100%;
    display: flex;
    justify-content: center;

}

 /* main groups styles */
.main-container .card {
    flex: 1 1 40%; 
    max-width: 45%;
    min-height: 200px;
    max-height: 200px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    padding: 20px 5px 20px 20px;
    padding-bottom: 20px;
    /* overflow: hidden; */
}

/* For opening group */
.main-container .card.expanded {
    flex: 1 1 55%; 
    max-width: 55%;
    min-height: 200px;
    max-height: 300px;
    z-index: 10;
}


/* For scrolling inside the group */
.card .scroll {
    overflow: hidden;
}

/* For scrolling inside the group */
.card.expanded .scroll {
    overflow-x: scroll; 
    overflow-y: auto;
}

/* show Title and kebab menu blocks */
.title-row {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

/* just kebab menu */
.dropdown-menu {
    padding-left: 15px;
    padding-right: 15px;
}
/*----GROUPS - END----*/


/* =================================== */


/*----ITEMS - START----*/
/* just item style */
.item-copy .item {
    flex: 1;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-bottom: 6px;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: none;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    transition: background 0.2s ease;
    align-items: center; 
}

/* Inside it is data of item */
.card.expanded .item {
    pointer-events: auto; 
}

/* It is combine item + copy function */
.item-copy {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Showing tag inside the item */
.tag {
    margin: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #a19999;
}

/* Block for copy link */
.item-copy .copy {
    width: 50px; 
    height: 50px;
    flex: 0 0 auto;
    margin-bottom: 6px;
    margin-right: 15px;
    border-radius: 9px;
    border: 1px solid #dcdcdc;
}

/* animation for changing color of item */
.card .item:hover { 
    background: #ced4da;
}
/*----ITEMS - END----*/


/* =================================== */

/* Для телефонів */
@media (max-width: 768px) {
    .main-container .card {
        min-width: 100%;
        max-width: 100%; 
        min-height: 150px; 
        max-height: 180px; 
    }

   
    /* For opening group */
    .main-container .card.expanded {
        flex: 1 1 100%; 
        min-width: 100%;
        max-width: 100%;
        min-height: 200px;
        max-height: 300px;
        z-index: 10;
    }

    /* щоб скрол був тільки вертикальний */
    .card.expanded .scroll {
        overflow-x: hidden; 
        overflow-y: auto;
        max-height: 300px; /* контрольована висота для скролу */
    }
}





.created-div {
    position: fixed;  
    width: 80%;
    top: 50%;                
    left: 50%;              
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #333;
    padding: 20px;
    z-index: 9999;            /* поверх всього */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}







.online-groups {
    display: flex;
    flex-direction: column;
    align-items: center; /* центрує кнопку по горизонталі */
    gap: 20px; /* відступ між списком і кнопкою */
    padding-bottom: 20px; /* трохи місця знизу */
}

.load-more-groups {
    margin-top: 20px;
}  





.profile-stats {
    border: 2px solid #000;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin-bottom: 15px;
}
.profile-stats div {
    text-align: center;
}
.profile-stats h5 {
    margin: 0;
    font-weight: 600;
}
.profile-stats p {
    margin: 0;
    color: #6c757d;
    text-transform: lowercase;
}
.follow-btn {
    background-color: #000;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 0;
}

.following-btn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    width: 100%;
    border-radius: 10px;
    border: 2px black solid;
    font-weight: 600;
    padding: 10px 0;
}
.profile-name {
    display: flex;
    justify-content: space-around;
}

/* .follow-btn:hover {
    background-color: #333;
} */





.section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* або твій варіант */
    gap: 20px;
    padding: 50px;
    max-width: 1800px; /* ← тут обмежуємо */
    margin: 0 auto;    /* ← центр */
}


.section div {
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
}

img {
    border-radius: 29px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---- MAIN BLOCK ---- */
.main-block {
    grid-row: span 2;
    aspect-ratio: 1 / 1;
    background-color: coral;
    width: 100%;
    grid-column: 1 / span 1; /* 50% ширини */
}

/* ---- BLOG ---- */
.blog {
    grid-column: span 2;
    aspect-ratio: 2 / 1; /* приблизно як 650×315 ідеально пропорційно */
}

/* ---- SMALL BLOCKS ---- */
.about,
.contact {
    color: white;
    aspect-ratio: 1 / 1;
}

.about {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    background-color: #B385FD;
}

.about .block-title {
    text-align: start;
    padding-left: 20px;
    padding-top: 18px;
    font-weight: 500;
    /* font-size: 13px; */
    grid-row: span 2;
    grid-column: 1 / span 1;
}

.about .text-btn-block {
    /* font-size: 35px; */
    font-weight: 400;
    margin-left: 30px;
    text-align: start;
    align-self: self-end;
    grid-column: 1 / span 2;
}

.contact {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: black;
    background-color: #B2EF40;
}

.about .block-title,
.contact .block-title {
    font-size: clamp(10px, 1vw, 13px);
}

.about .text-btn-block,
.contact .text-btn-block {
    font-size: clamp(20px, 2vw, 35px);
}


.contact .block-title {
    text-align: start;
    padding-left: 20px;
    padding-top: 18px;
    font-weight: 600;
    /* font-size: 13px; */
    grid-row: span 2;
    grid-column: 1 / span 1;
}

.contact .text-btn-block {
    /* font-size: 35px; */
    font-weight: 400;
    margin-left: 30px;
    text-align: start;
    align-self: self-end;
    grid-column: 1 / span 2;
}

@media (min-width: 1800px) {
    .section {
        width: 1800px;
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .section {
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .contact .block-title {
        font-size: 10px;
        grid-row: span 2;
        grid-column: 1 / span 2;
    }
    
    .contact .text-btn-block {
        font-size: 16px;
        margin-left: 20px;
    }

    .about .block-title {
        font-size: 10px;
        grid-row: span 2;
        grid-column: 1 / span 2;
    }
    
    .about .text-btn-block {
        font-size: 16px;
        margin-left: 20px;
    }

    .main-block,
    .blog,
    .about,
    .contact {

        width: 100%;
    }

    .main-block {
        aspect-ratio: 2/2;
        grid-column: span 2;
    }

    .blog {
        aspect-ratio: 2/1;
        grid-column: span 2;
    }

    .about {
        aspect-ratio: 1/1;
        grid-column: 1 / span 1;
    }
    .contact {
        aspect-ratio: 1/1;
        grid-column: 2 / span 1;
    }
}
