@import 'tailwindcss';
@import "bootstrap";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/*----MAIN BLOCKS - START----*/


/* Mainest Block */
/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
} */

/* Parents of groups */
.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
/*----MAIN BLOCKS - END----*/


/* =================================== */


/*----GROUPS - START----*/

/* Group */
.groups { 
    width: 100%;
    display: flex;
    justify-content: center;

}

 /* main groups styles */
.main-container .card {
    flex: 1 1 40%; 
    max-width: 45%;
    min-height: 200px;
    max-height: 200px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    padding: 20px 5px 20px 20px;
    padding-bottom: 20px;
    /* overflow: hidden; */
}

/* For opening group */
.main-container .card.expanded {
    flex: 1 1 55%; 
    max-width: 55%;
    min-height: 200px;
    max-height: 300px;
    z-index: 10;
}


/* For scrolling inside the group */
.card .scroll {
    overflow: hidden;
}

/* For scrolling inside the group */
.card.expanded .scroll {
    overflow-x: scroll; 
    overflow-y: auto;
}

/* show Title and kebab menu blocks */
.title-row {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

/* just kebab menu */
.dropdown-menu {
    padding-left: 15px;
    padding-right: 15px;
}
/*----GROUPS - END----*/


/* =================================== */


/*----ITEMS - START----*/
/* just item style */
.item-copy .item {
    flex: 1;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-bottom: 6px;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: none;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    transition: background 0.2s ease;
    align-items: center; 
}

/* Inside it is data of item */
.card.expanded .item {
    pointer-events: auto; 
}

/* It is combine item + copy function */
.item-copy {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Showing tag inside the item */
.tag {
    margin: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #a19999;
}

/* Block for copy link */
.item-copy .copy {
    width: 50px; 
    height: 50px;
    flex: 0 0 auto;
    margin-bottom: 6px;
    margin-right: 15px;
    border-radius: 9px;
    border: 1px solid #dcdcdc;
}

/* animation for changing color of item */
.card .item:hover { 
    background: #ced4da;
}
/*----ITEMS - END----*/


/* =================================== */

/* Для телефонів */
@media (max-width: 768px) {
    .main-container .card {
        min-width: 100%;
        max-width: 100%; 
        min-height: 150px; 
        max-height: 180px; 
    }

   
    /* For opening group */
    .main-container .card.expanded {
        flex: 1 1 100%; 
        min-width: 100%;
        max-width: 100%;
        min-height: 200px;
        max-height: 300px;
        z-index: 10;
    }

    /* щоб скрол був тільки вертикальний */
    .card.expanded .scroll {
        overflow-x: hidden; 
        overflow-y: auto;
        max-height: 300px; /* контрольована висота для скролу */
    }
}





.created-div {
    position: fixed;  
    width: 80%;
    top: 50%;                
    left: 50%;              
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #333;
    padding: 20px;
    z-index: 9999;            /* поверх всього */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}







.online-groups {
    display: flex;
    flex-direction: column;
    align-items: center; /* центрує кнопку по горизонталі */
    gap: 20px; /* відступ між списком і кнопкою */
    padding-bottom: 20px; /* трохи місця знизу */
}

.load-more-groups {
    margin-top: 20px;
}  